.container {
  background-color: #1B9AAA;
}
.game {
  max-width: 300px;
  min-width: 300px;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  margin: 10px;
  background-color: #050505;
  color: white;
  box-shadow: 0 3px 25px rgb(0 0 0 / 0.2);
}
.image-and-title {
  position: relative;
  justify-content: center;
  text-align: center;
  display: flex;
}
.title-game {
  justify-content: center;
  text-align: center;
  position: absolute;
  font-size: 2rem;
  text-align: center;
  bottom: 0;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.game-name {
  color: #FFFFFF;
  margin: 10px;
  text-align: center;
}
.description::before{
  padding: 10px;
}
.description {
  display: block;
  display: -webkit-box;
  max-width: 300px;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: justify;
  margin-bottom: 50px;
  padding: 20px 20px 0 20px;
}
.btn-game {
  background-color: #DDDBCB !important;
  width: 100% !important;
  position: absolute;
  bottom: 0;
  border-radius: 0 0 10px 10px;
  color: #050505;
}

.description::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.description::-webkit-scrollbar-track {
  background: rgb(248, 226, 184);
  border-radius: 5px;
  /* color of the tracking area */
}

.description::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
.btn-detalhes {
  border: none;
}
.image-game{
  border-radius: 10px 10px 0 0;
}