<div class="games container">

    <div *ngFor="let game of games; index as i;" class="game">
        <div class="image-and-title">
            <img [src]="'http://localhost:8000/' +game.game_images[0]['caminho_imagem_game']"
                class="img-fluid image-game" alt="Responsive image">
            <div class="title-game">
                {{game.name}}
            </div>

        </div>
        <div class="game-name text-sucess"> {{game.name}}</div>
        <div class="description"> {{game.description}}</div>
        <button class="btn btn-success btn-game">Ver mais detalhes</button>
    </div>
</div>