/* You can add global styles to this file, and also import other style files */

    

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #1B9AAA !important }
/*SnackBarCss*/
.success{
    background-color: #03dac5;
    color: white;
}
.text-sucess{
    color: #03dac5;
}